<article class="bottom-space">
  <div class="row center-xs">
    <div class="col-xs-12 light-border col-md-7">
      <h1 class="be-big blue"><%= @article.title %></h1>
      <P class="text-right be-small">
        <%=link_to "Atras",articles_path,
          class:"underline"  %> -
          <spam class="red"><%= @article.
            visits_count %> visita(s)</span>
            -
            <% unless @article.user.nil? %>

            Escrito por: <%= @article.user.email %>
        <%end%>
      </p>
      <div>
      <div class="top-space">
        <%= render "articles/comments" %>
      </div>
      </div>
    </div>
  </div>
</article>
